<div class="ensure-dialog table-responsive">
	<table class="table table-bordered table-striped">
		<tr>
			<td>bank name :</td>
			<td><span class="defaultBankInfo bankName"><%= bankName %></span>
				<input class="updateBankInfo hide" value="<%= bankName %>" type="text"/></td>
		</tr>
		<tr>
			<td>account name :</td>
			<td><span class="defaultBankInfo accountName"><%= accountName %></span>
				<input class="updateBankInfo hide" value="<%= accountName %>" type="text"/></td>
		</tr>
		<tr>
			<td>bank account number :</td>
			<td><span class="defaultBankInfo bankAccountNo"><%= bankAccountNo %></span>
				<input class="updateBankInfo hide" value="<%= bankAccountNo %>" type="text"/>
			</td>
		</tr>
		<tr>
			<td>bank address：</td>
			<td><span class="defaultBankInfo bankAddress"><%= bankAddress %></span>
				<input class="updateBankInfo hide" value="<%= bankAddress %>" type="text"/></td>
		</tr>
		<tr>
			<td>swift code：：</td>
			<td><span class="defaultBankInfo swiftCode"><%= swiftCode %></span>
				<input class="updateBankInfo hide" value="<%= swiftCode %>" type="text"/></td>
		</tr>
	</table>
</div>
