<div class="ensure-dialog table-responsive">
	<table class="table table-bordered table-striped">
		<tr>
			<td>帐号 :</td>
			<td><%= accountName %></td>
		</tr>
		<tr>
			<td>银行交易号 :</td>
			<td><%= bankTransactionNumber %></td>
		</tr>
		<tr>
			<td><%= title1 %> </td>
			<td><strong class="text-oringe"><%= gross %></strong></td>
		</tr>
		<tr>
			<td>服务费($) :</td>
			<td><%= commission %></td>
		</tr>
		<tr>
			<td>优惠($) :</td>
			<td><%= discountCommission%></td>
		</tr>
		<tr>
			<td><strong><%= title2 %> </strong></td>
			<td><strong class="text-red"><%= gross-commission+discountCommission %></strong></td>
		</tr>
	</table>

	<p>备注 :</p>
	<textarea class="form-control" rows="3"></textarea>
</div>
