<header id="header">
	<div class="header-inc">
		<ul>
			<li class="header-item">
				<span>买家 :</span>
				<div class="user-warp">
					<select class="form-control" ng-model="currentBuyer" ng-change="buyerChange()" ng-options="model.accountName for model in models">
						<option value="">-- 全部 --</option>
					</select>
				</div>
			</li>
			<li class="header-item">
				<span>充值时间 :</span>
				<div class="time-wrap">
					<input id="startTime" size="16" type="text"  ng-model="startTime"  readonly class="form-control form_datetime">
				</div> &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="time-wrap">
					<input id="endTime" size="16" type="text" ng-model="endTime"  readonly class="form-control form_datetime">
				</div>
			</li>
			<li class="header-item">
				<span>充值状态 :</span>
				<div class="status-warp">
					<select class="form-control" ng-model="currentStatus" ng-change="statusChange()" ng-options="item|status for item in status">
						<option value="">-- 全部 --</option>
					</select>
				</div>
			</li>
			<li class="header-item">
				<button disabled  type="button" class="btn btn-warning">搜索</button>
			</li>
		</ul>
	</div>
</header>