<div>
	<div class="table-responsive record-body recharge-body">
		<table class="table table-bordered table-striped">
			<thead>
			<th>流水号</th>
			<th>买家账号</th>
			<th>提现金额($)</th>
			<th>服务费($)</th>
			<th>优惠($)</th>
			<th>提现方式</th>
			<th>创建时间</th>
			<th>完成时间</th>
			<th>状态</th>
			<th>操作</th>
			</thead>
			<tr ng-repeat="item in items | orderByCreateTime: 'true' | recordFilter ">
				<td>{{item.transactionNumber}}</td>
				<td>{{item.accountName}}</td>
				<td>{{item.transactionMoney |currency}}</td>
				<td>{{item.commission |currency}}</td>
				<td>{{item.discountCommission |currency}}</td>
				<td class="pointer" ng-click="showBankInfo(item.transactionId)">{{item.transactionMethod | method}} &nbsp;<span ng-if="item.transactionMethod!=0" class="text-oringe glyphicon glyphicon-triangle-bottom"></span></td>
				<td>{{item.createTime}}</td>
				<td>{{item.completeTime}}</td>
				<td>{{item.status | status}}</td>
				<td colspan="3" ng-if="item.status == 0"><pending type="withdraw" number="{{item.transactionNumber}}" item="{{item}}"><button class="btn btn-warning">确认提现</button></pending></td>
				<td colspan="3" ng-if="item.status == 1"><pending type="withdrawsuccess"><button class="btn btn-warning">确认提现</button></pending></td>
				<td colspan="3" ng-if="item.status == 2"><a class="btn btn-primary" href="#/rechargeDetail?transactionNumber={{item.transactionNumber}}">查看</a></td>
			</tr>
		</table>
	</div>
	<div id="footer">
		<paging max-page="{{maxPage}}"  page-num="{{pageNum}}" page-size="{{pageSize}}" ></paging>
	</div>
</div>