<div class="detail recharge-detail">
	<header class="detail-header">
		<table class="table">
			<tr>
				<td>
					<strong>交易流水号 : </strong><span>{{detail.transactionNumber}}</span>
				</td>
				<td>
					<strong>交易类型 : </strong><span>{{detail.transactionType | transactionType}}</span>
				</td>
				<td>
					<strong>状态 : </strong><strong class="text-yellow">{{detail.status | status}}</strong>
				</td>
			</tr>
		</table>
	</header>

	<div class="detail-body recharge-detail-body">

		<div class="gmcpay pay">
			<div class="title gmctitle">
				交易信息
			</div>
			<div class="pay-body">
				<table class="table table-bordered">
					<thead>
					<th>账号信息</th>
					<th ng-if="detail.transactionType != 3">充值金额（$）</th>
					<th ng-if="detail.transactionType == 3">订单金额（$）</th>
					<th>服务费（$）</th>
					<th ng-if="detail.transactionType != 3">优惠（$）</th>
					<th>实际到账金额（$）</th>
					<th>实际服务费（$）</th>
					<th ng-if="detail.transactionType != 3">实际优惠（$）</th>
					<th ng-if="detail.transactionType == 3">实际消费金额（$）</th>
					<th ng-if="detail.transactionType != 3">实充金额（$）</th>
					</thead>
					<tr>
						<td class="text-oringe">{{detail.accountName}}</td>
						<td>{{detail.transactionMoney}}</td>
						<td ng-if="detail.transactionType != 3">{{detail.commission}}</td>
						<td>{{detail.discountCommission}}</td>
						<td>{{detail.actualMoney}}</td>
						<td>{{detail.actualCommission}}</td>
						<td ng-if="detail.transactionType != 3">{{detail.actualDiscountCommission}}</td>
						<td class="text-oringe">{{actualMoney - detail.actualCommission + detail.actualDiscountCommission }}</td>
					</tr>
				</table>

				<table class="table table-bordered second-table">
					<tr>
						<td><span class="item-key">买家账号：</span>{{detail.accountName}}</td>
						<td><span class="item-key">交易方式：</span>{{detail.transactionType | transactionType}}</td>
					</tr>
					<tr>
						<td><span class="item-key">创建时间：</span>{{detail.createTime}}</td>
						<td><span class="item-key">完成时间：</span>{{detail.completeTime}}</td>
					</tr>
					<tr>
						<td><span class="item-key">操作者：</span>{{detail.lastUpdateBy}}</td>
						<td><span class="item-key">操作者IP：</span>{{detail.operatorIp}}</td>
					</tr>
					<tr>
						<td colspan="2">
							<strong>备注:</strong>
							<textarea class="form-control" rows="4">{{detail.note}}</textarea>
						</td>
					</tr>

				</table>
			</div>

		</div>

		<div ng-if="detail.transactionType != 3" class="bankpay pay">
			<div class="title banktitle">
				银行交易信息
			</div>
			<div class="pay-body">
				<table class="table table-bordered second-table">
					<tr>
						<td><span class="item-key">银行流水号：</span>{{detail.bankInfo.bankTransactionNumber}}</td>
						<td><span class="item-key">交易时间：</span>{{detail.bankInfo.tradeDate}}</td>
					</tr>
					<tr>
						<td><span class="item-key">交易金额：</span><span class="text-oringe">{{detail.bankInfo.gross}}</span></td>
						<td><span class="item-key">交易费用：</span>{{detail.bankInfo.gross-detail.bankInfo.commission+detail.bankInfo.discountCommission }}</td>
					</tr>
					<tr>
						<td><span class="item-key">email：</span>{{detail.bankInfo.emailAccount}}</td>
					</tr>
					<tr>
						<td><span class="item-key">买家名称：</span>{{detail.bankInfo.buyerName}}</td>
						<td><span class="item-key">交易状态：</span>{{detail.bankInfo.paymentState}}</td>
					</tr>
					<tr>
						<td><span class="item-key">充值方式：</span>{{detail.bankInfo.tradeMethod}}</td>
						<td><span class="item-key">T/T虚拟帐号：</span>{{detail.bankInfo.ttVirtualAccount}}</td>
					</tr>
					<tr>
						<td><span class="item-key">bank name:</span>{{detail.bankInfo.bankName}}</td>
						<td><span class="item-key">account name:</span>{{detail.bankInfo.accountName}}</td>
					</tr>
					<tr>
						<td><span class="item-key">bank address:</span>{{detail.bankInfo.bankAddress}}</td>
						<td><span class="item-key">bank account number:</span>{{detail.bankInfo.bankAccountNo}}</td>
					</tr>
					<tr>
						<td><span class="item-key">swift code:</span>{{detail.bankInfo.swiftCode}}</td>
						<td><span class="item-key">notes:</span>{{detail.bankInfo.note}}</td>
					</tr>
					<tr>
						<td colspan="2"><span class="item-key">最后更新时间：</span>{{detail.bankInfo.lastUpdateTime}}</td>
					</tr>

				</table>
			</div>
		</div>

	</div>
</div>